<div>
  <div class="container mt-4"> 
    @if (selected) {
    <div *ngIf="selected">
      <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
    </div>
    }
    
    <table class="text-center py-5">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Imagen</th>
          <th>Duracion en minutos</th>
          <th>Director</th>
        </tr>
        
      </thead>
      <tbody>
        @for(movie of movies; track movie.id){
        <tr (click)="onSelect(movie)">
          <td>{{ movie.titulo }}</td>
          <td>
            <img
              class="movie-img"
              [src]="movie.poster"
              alt="{{ movie.poster }}"
            />
          </td>
          <td>{{ movie.duracion_minutos }} min</td>
          <td>{{ movie.director }} </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
